<style>

</style>
<div id = "main_content_wrapper">
	<div id= "list_wrapper">
	<ul id="restaurantlist">

	<li><%= link_to 'Dominos', 'menu', class: "w3-button w3-blue" %></li
><li><%= link_to 'Pizza Hut', 'menu', class: "w3-button w3-blue" %></li
><li><%= link_to "Arnold\'s Pizza shop", 'menu', class: "w3-button w3-blue" %></li
><li><%= link_to "Ugur\'s Pizzeria(Best)", 'menu', class: "w3-button w3-blue" %></li
><li><%= link_to 'Marcello Pizzeria', 'menu', class: "w3-button w3-blue" %></li
><li><%= link_to "Francesco\'s Ristorante Italia", 'menu', class: "w3-button w3-blue" %></li
><li><%= link_to 'Boston Pizza', 'menu', class: "w3-button w3-blue" %></li
></ul>
</div>
</div>
