<!DOCTYPE html>
<html>
<head>
<%= csrf_meta_tags %>
<link href = "w3.css" rel = "stylesheet">
</head>
<body>
	<div class = "w3-container w3-yellow" id = "content-wrapper">
		<h1><%= link_to "PizzaCluster", root_path%></h1>
		<div id = "login_wrapper">
				<%= link_to 'LOGIN/REGISTER', :controller => :login, :action => :show,  class: "w3-btn w3-red", id: "login_button" %>
		</div>
		<%= yield %>
		<tr>
	    <td><%= link_to 'Pizza Browsing', :controller =>'menu', :action => "show" %></td>
	    <td><%= link_to 'Ordering Online', :controller => 'order', :action => "show" %></td>
	    <td><%= link_to 'About',  'info' %></td>
	  	</tr>
	  	<div class = "w3-dark-gray" id ="main_wrapper">
			<div id = "upper_wrapper w3-white">
				<div id = "website_logo_wrapper">
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<div class = "w3-container w3-yellow" id = "header_wrapper">
    <h1><%= link_to "PizzaCluster", root_path%></h1>
    <div id = "login_wrapper">
      <%= link_to 'LOGIN/REGISTER', :controller => :login, :action => :show,  class: "w3-btn w3-red", id: "login_button" %>
    </div>
    <div class = "w3-container" id = "main_nav_wrapper">
       <tr>
        <td><%= link_to 'Pizza Browsing', :controller =>'menu', :action => "show" %></td>
        <td><%= link_to 'Ordering Online', :controller => 'order', :action => "show" %></td>
        <td><%= link_to 'About',  'info' %></td>
      </tr> 
    </div>
    <div class = "w3-dark-gray" id ="main_wrapper">
      <div id = "upper_wrapper w3-white">
        <div id = "website_logo_wrapper">
        </div>
      </div>
    </div>
  </div>
  <div class = 'w3-container' id = 'content_wrapper'>
    <%= yield %>
  </div>