<!DOCTYPE html>
<html>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application.css" %>
	<div class = "w3-container w3-yellow" id = "content-wrapper">
		<h1><a href="pizzacluster" target="pizzacluster">Pizza Cluster</h1>
		<div id = "login_wrapper">
				<%= link_to 'LOGIN/REGISTER', logins_path,  class: "w3-btn w3-red", id: "login_button" %>
		</div>
		<%= yield %>
		<tr>
	    <td><%= link_to 'Pizza Browsing', 'menu' %></td>
	    <td><%= link_to 'Ordering Online', 'order' %></td>
	    <td><%= link_to 'About',  'info' %></td>
	  	</tr>
	  	<div class = "w3-dark-gray" id ="main_wrapper">
			<div id = "upper_wrapper w3-white">
				<div id = "website_logo_wrapper">
				</div>
			</div>
		</div>
	</div>
</html>
