

<% provide :title, "Login"%>

<div class = 'w3-container' id = 'form_container'>
	<div class = 'w3-container w3-blue'>
		<h2> LOGIN </h2>
	</div>
	<%= form_for :session, :html => {:class => 'w3-container'} do |f| %>
	Username or Email: <%= f.text_field :uid, :class => 'w3-input w3-border w3-round spaced' %>
	Password: <%= f.password_field :password, :class => 'w3-input w3-border w3-round spaced'%>
	<%= f.submit "Login", :class => 'w3-btn w3-blue'%>
	<% end %>
	<div class = 'w3-container' id = 'reg_link_wrapper'>
		<p> Not a member yet?
		<%= link_to 'Click here to register', 'register', :id => "reg_link" %>
		</p>
	</div>
</div>
