</br></br>

<h1 style="font-family:courier;">Menu</h1>
<h2 style="font-family:courier;">BUILD YOUR OWN:</h2>

<div class="gallery">
  <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZDX.jpg", alt:"Mountains", width: "300", height:"200"), 'order'%>
  <div class="desc"><b>PIZZA</b></div>
</div>

<div class="gallery">
  <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_PARM.jpg", alt:"Mountains", width: "300", height: "200"), 'order'%>
  </a>
  <div class="desc"><b>COMPLETE MEAL</b></div>
</div>

</br></br></br></br></br></br></br></br></br></br></br></br>

<h2 style="font-family:courier;">MOST POPULAR:</h2>

<div class="gallery">
   <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZVX.jpg", alt: "Fjords", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc"><b>VEGGIE FEAST</div>
</div>

<div class="gallery">
   <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZCA.jpg", alt: "Northern Lights", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc">CANADIAN PIZZA</div>
</div>

<div class="gallery">
   <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZHX.jpg", alt: "Mountains", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc">HAWAIIAN</div>
</div>

<div class="gallery">
  <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZPX.jpg", alt: "Mountains", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc">PEPPERONI</div>
</div>

<div class="gallery">
   <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZCBR.jpg", alt: "Mountains", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc">BACON RANCH</b></div>
</div>


</br></br></br></br></br></br></br></br></br></br></br></br>



<h2 style="font-family:courier;">DRINKS:</h2>

<div class="gallery">
   <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_COKE.jpg", alt: "Northern Lights", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc"><b>COKE</div>
</div>

<div class="gallery">
  <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_ZERO.jpg", alt: "Mountains", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc">DIET COKE</div>
</div>

<div class="gallery">
  <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_SPRITE.jpg", alt: "Mountains", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc">SPRITE</div>
</div>

<div class="gallery">
   <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_GingerAl.jpg", alt: "Mountains", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc">GINGER ALE</div>
</div>

<div class="gallery">
    <%= link_to image_tag("https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_WATER.jpg", alt: "Mountains", width: "300", height: "200"), 'order' %>
  </a>
  <div class="desc">WATER</b></div>
</div>
