<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title)%>
    <%= yield(:title) %>
    <%else %>
    PizzaCluster
    <%end%>
  </title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'w3' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id = "main_wrapper">
    <div id = "header">
      <div id = "header_wrapper">
        <div id = "logo_wrapper">
          <%= image_tag "logo.jpg" %>
        </div>
        <div id = "title_wrapper" class = "w3-container">
          PIZZA CLUSTER
        </div>
        <div id = filler_wrapper>
          <%= image_tag "pizza.png" %>    
        </div>
      </div>
      <div id = "nav_wrapper">
        <%if session[:user_id]
          btn_name = 'LOG OUT'
          btn_link_path = 'logout'
          %>
          <%else
          btn_name = 'LOG IN'
          btn_link_path = 'login'
        end
        %>
        <div id= "nav_bar" class = "w3-bar w3-dark-gray">
        <%= link_to "Home", root_path, class: "w3-bar-item w3-btn w3-black"%>
          <%= link_to "Contact Us", 'contact', class: "w3-bar-item w3-btn" %>

          <%= link_to "About", 'about', class: "w3-bar-item w3-btn" %>          
          <%= link_to btn_name, btn_link_path,  class: "w3-bar-item w3-btn w3-blue", id: "login_button" %>

        </div>
      </div>
      <div class = "w3-container" id = "main_nav_wrapper">

        <tr>
          <%if false%>
          <td><%= link_to 'Pizza Browsing', :controller =>'menu', :action => "show" %></td>
          <td><%= link_to 'Ordering Online', :controller => 'order', :action => "show" %></td>
          <td><%= link_to 'About',  'info' %></td>
          <%end%>
        </tr>
      </div>

    </div>
    <div class = 'w3-container' id = 'yield_wrapper'>
      <% if flash[:alert] %>
      <%= flash[:alert] %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
